
Session_2/Intro_to_Github/Slides_Intro.aux
*.aux
*.aux
Session_2/Intro_to_Github/Slides_Intro.aux
*.log
Session_2/Intro_to_Github/Slides_Intro.nav
*.out
*.tex
*.toc
*.snm
*.gz
*.nav
Session_9/exercises-checkpoint.ipynb
Session_10/exercises-checkpoint.ipynb
Session_10/.ipynb_checkpoints/exercises_10-checkpoint.ipynb
Session_10/.ipynb_checkpoints/exercises_10_solution-checkpoint.ipynb
Session_9/.ipynb_checkpoints/exercises_9-checkpoint.ipynb
Session_9/.ipynb_checkpoints/exercises_9_solutions-checkpoint.ipynb
Session_2/.ipynb_checkpoints/exercises_2-checkpoint.ipynb
Session_3/.ipynb_checkpoints/exercises_3-checkpoint.ipynb
Session_3/.ipynb_checkpoints/Readme-checkpoint.md
.*
~*