
Session_2/Intro_to_Github/Slides_Intro.aux
*.aux
*.aux
Session_2/Intro_to_Github/Slides_Intro.aux
*.log
Session_2/Intro_to_Github/Slides_Intro.nav
*.out
*.tex
*.toc
*.snm
*.gz
*.nav
Session_9/exercises-checkpoint.ipynb
Session_10/exercises-checkpoint.ipynb
Session_10/.ipynb_checkpoints/exercises_10-checkpoint.ipynb
Session_10/.ipynb_checkpoints/exercises_10_solution-checkpoint.ipynb
